@import "tailwindcss";

@theme {
  --color-background: #000000; /* Чистый черный */
  --color-foreground: #ffffff; /* Чистый белый */
  --color-border: #262626;     /* Нейтральный серый border (neutral-800) */
  --color-input: #262626;
  --color-ring: #ccccccc;
  
  --color-primary: #ffffff;
  --color-primary-foreground: #000000;
  
  --color-muted: #262626;
  --color-muted-foreground: #a3a3a3;
  
  --color-accent: #1a1a1a;
  --color-accent-foreground: #ffffff;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-white antialiased;
  }
}